<!-- CANT HAVE ANY FOCUSABLE ELEMENTS IN THIS DIV -->
<div tabindex="0" (focus)="focused=true" class="div-container">

  <div *ngIf="!focused" class="overlay">Click here to begin</div>
  <!-- <p class="sentence">{{sentence}}</p> -->

  <p class="sentence">
    <span *ngFor="let letter of sentence.split(''); let i = index">
      <span *ngIf="i < currentIndex">{{letter}}<wbr></span>
      <span *ngIf="i >= currentIndex">_<wbr></span>
    </span>
  </p>

  <p>Pressed keys: <span class="sentence">{{displayCurrentPressedKeys()}}</span></p>
  <p>Calculated entropy per letter:
    <span *ngIf="!calculateEntropy()">Not enough data</span>
    <span *ngIf="calculateEntropy()">{{calculateEntropy()}}</span>
  </p>

  <span (click)="reset()" class="span-btn">Reset</span>
  <span (click)="solve()" class="span-btn">Solve</span>

  <div style="margin-top:15px">
    <span class="version"><em>v1.2</em></span>
  </div>

</div>
